<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="pages/fragments/header.html"></th:block>
</head>

<body>
<!-- Sidenav -->
<th:block th:include="pages/fragments/sidenav.html"></th:block>

<!-- Main content -->
<div class="main-content" id="panel">

    <!-- Topnav -->
    <th:block th:include="pages/fragments/topnav.html"></th:block>

    <!-- Page content -->

    <div class="container-fluid mt--6">
        <div class="card">
            <div class="card-header bg-transparent">
                <div class="row">
                    <div class="col">
                        <p>Articles</p>
                    </div>
                    <div class="col text-right">
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addNewArticleModal">
                            Add new Article
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="container-fluid">
                        <table class="table align-items-center" id="articlesTable">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Catalogue Number</th>
                                <th scope="col">Manufacturer</th>
                                <th scope="col">Consumable</th>
                                <th class="text-right" scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="article:${articles}">
                                <td th:text="${article.name}"></td>
                                <td th:text="${article.catalogueNumber}"></td>
                                <td th:text="${article.manufacturer.name}"></td>
                                <td th:text="${article.consumable}"></td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" th:href="editArticleModal+${article.id}"
                                               data-toggle="modal"
                                               th:data-target="'#editArticleModal'+${article.id}">Edit</a>
                                            <a class="dropdown-item" href="deleteArticleModal"
                                               data-toggle="modal" data-target="#deleteArticleModal"
                                               th:onclick="'setDeleteArticleModal('+${article.id}+')'">Delete</a>
                                        </div>
                                    </div>
                                </td>


                            </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>
<!-- Argon Scripts -->
<th:block th:include="pages/fragments/scripts"></th:block>

</body>

</html>