<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="pages/fragments/header.html"></th:block>
</head>
<body>
<!-- Sidenav -->
<th:block th:include="pages/fragments/sidenav.html"></th:block>

<!-- Main content -->
<div class="main-content" id="panel">

    <!-- Topnav -->
    <th:block th:include="pages/fragments/topnav.html"></th:block>

    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="card">
            <div class="card-header bg-transparent">
                <div class="row">
                    <div class="col">
                        <p>Customers</p>
                    </div>
                    <div class="col text-right">
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addCustomerModal">Add
                            customer
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="container-fluid">
                        <table class="table align-items-center" id="customersTable">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Customer name</th>
                                <th scope="col">Tax Id</th>
                                <th scope="col">Address</th>
                                <th class="text-right" scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="customer:${customers}">
                                <td th:text="${customer.getCompanyName()}"></td>
                                <td th:text="${customer.getTaxId()}"></td>
                                <td th:text="${customer.address.street}"></td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item"
                                               href="#editCustomerModal"
                                               data-toggle="modal"
                                               data-target="#editCustomerModal">Edit</a>
                                            <a class="dropdown-item"
                                               href="#deleteCustomerModal"
                                               data-toggle="modal"
                                               data-target="#deleteCustomerModal">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add customer modal -->
<div class="modal fade" id="addCustomerModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add new customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/customers" autocomplete="off">
                <div class="modal-body text-sm">
                    <div class="form-group">
                        <label>Customer name:</label>
                        <input class="form-control form-control-sm" type="text" name="companyName">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Tax ID:</label>
                            <input type="text" class="form-control form-control-sm" name="taxId">
                        </div>
                        <div class="col-md-6">
                            <label>Regon:</label>
                            <input type="text" class="form-control form-control-sm" name="regon">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Street:</label>
                            <input type="text" class="form-control form-control-sm" name="address.street">
                        </div>
                        <div class="col-md-3">
                            <label>Nr</label>
                            <input type="text" class="form-control form-control-sm" name="address.houseNumber">
                        </div>
                        <div class="col-md-3">
                            <label>Ap. nr</label>
                            <input type="text" class="form-control form-control-sm" name="address.apartmentNumber">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Post code:</label>
                            <input type="text" class="form-control form-control-sm" name="address.postCode">
                        </div>
                        <div class="col-md-8">
                            <label>City:</label>
                            <input type="text" class="form-control form-control-sm" name="address.city">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Province:</label>
                        <input type="text" class="form-control form-control-sm" name="address.province">
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Telephone:</label>
                            <input type="tel" class="form-control form-control-sm" name="telephoneNumber">
                        </div>
                        <div class="col-md-6">
                            <label>E-mail:</label>
                            <input type="email" class="form-control form-control-sm" name="email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Customer site:</label>
                            <input type="text" class="form-control form-control-sm" name="companySiteUrl">
                        </div>
                    </div>
                    <input type="text" value="INVOICE" name="address.addressType" hidden>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-sm">Add customer</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit customer modal -->
<div class="modal fade" id="editCustomerModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="#" autocomplete="off">
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-sm">Add customer</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete customer modal -->
<div class="modal fade" id="deleteCustomerModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="#" autocomplete="off">
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Argon Scripts -->
<th:block th:include="pages/fragments/scripts"></th:block>
<script>
    $(document).ready(function () {
        $('#customersTable').DataTable({
            language: {
                paginate: {
                    previous: '<',
                    next: '>'
                }
            },
            aria: {
                paginate: {
                    previous: 'Previous',
                    next: 'Next'
                }
            }
        });
    });

    function setDeleteModal
</script>
</body>
</html>