<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="pages/fragments/header.html"></th:block>
</head>

<body>
<!-- Sidenav -->
<th:block th:include="pages/fragments/sidenav.html"></th:block>

<!-- Main content -->
<div class="main-content" id="panel">

    <!-- Topnav -->
    <th:block th:include="pages/fragments/topnav.html"></th:block>

    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="card">
            <div class="card-header bg-transparent">
                <div class="row">
                    <div class="col">
                        <h3>Devices</h3>
                    </div>
                    <div class="col text-right">
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addNewDeviceModal">Add
                            device
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="container-fluid">
                        <table class="table align-items-center" id="devicesTable">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Model</th>
                                <th scope="col">Serial number</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Address</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="device:${devices}">
                                <td th:text="${device.model.manufacturer.name}+' '+${device.model.name}"></td>
                                <td th:text="${device.serialNumber}"></td>
                                <td th:text="${device.customer.companyName}"></td>
                                <td th:text="${device.address.getStreet()}+' '+${device.address.houseNumber}+'/'+${device.address.apartmentNumber}+', '+${device.address.postCode}+' '+${device.address.city}"></td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="editDeviceModal"
                                               data-toggle="modal"
                                               data-target="#editDeviceModal">Edit</a>
                                            <a class="dropdown-item" href="deleteDeviceModal"
                                               data-toggle="modal"
                                               data-target="#deleteDeviceModal" th:onclick="'setDeleteDeviceModal('+${device.id}+')'">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Add new device modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-default"
     aria-hidden="true" id="addNewDeviceModal">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Add new device</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form action="/devices" method="post" autocomplete="off">
                <div class="modal-body text-sm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="manufacturerSelect">Manufacturer:</label>
                                <select class="form-control form-control-sm"
                                        id="manufacturerSelect" onchange="updateModels(this.value)">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="modelSelect">Model:</label>
                                <select class="form-control form-control-sm" id="modelSelect" name="model.id"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Serial number:</label>
                        <input type="text" class="form-control form-control-sm" name="serialNumber">
                    </div>
                    <div class="form-group">
                        <label>Customer:</label>
                        <select class="form-control form-control-sm" id="selectCustomer" name="customer.id">
                            <option value=""></option>
                            <option th:each="customer:${customers}" th:text="${customer.companyName}" th:value="${customer.id}"></option>
                        </select>
                    </div>
                    <div class="form-group text-center text-lg">
                        <p>Installation address</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Street:</label>
                            <input type="text" class="form-control form-control-sm" name="address.street">
                        </div>
                        <div class="col-md-3">
                            <label>Nr</label>
                            <input type="text" class="form-control form-control-sm" name="address.houseNumber">
                        </div>
                        <div class="col-md-3">
                            <label>Ap. nr</label>
                            <input type="text" class="form-control form-control-sm" name="address.apartmentNumber">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Post code:</label>
                            <input type="text" class="form-control form-control-sm" name="address.postCode">
                        </div>
                        <div class="col-md-8">
                            <label>City:</label>
                            <input type="text" class="form-control form-control-sm" name="address.city">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Province:</label>
                        <input type="text" class="form-control form-control-sm" name="address.province">
                    </div>
                </div>
                <div class="modal-footer text-sm align-content-end">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-sm">Add device</button>
                </div>
                <input type="text" value="INSTALLATION_DEVICE" name="address.addressType" hidden>
            </form>
        </div>
    </div>
</div>


<!-- Edit device modal -->
<div class="modal fade" id="editDeviceModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-sm">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete device modal -->
<div class="modal fade" id="deleteDeviceModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Confirmation</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/devices/delete">
                <div class="modal-body text-sm">
                    <p>Are you sure you want delete device: </p>
                    <h3 id="h3DeleteDeviceModal"></h3>
                    <p>This action cannot be undone and you will be unable to recover
                        any
                        data.</p>
                    <input type="text" id="deleteDeviceId" name="id" hidden="true">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm"
                            data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Argon Scripts -->
<th:block th:include="pages/fragments/scripts"></th:block>

<script>
    $(document).ready(function () {
        $("#devicesTable").DataTable({
            language: {
                paginate: {
                    previous: '<',
                    next: '>'
                }
            },
            aria: {
                paginate: {
                    previous: 'Previous',
                    next: 'Next'
                }
            }
        });

    });

    $("#selectCustomer").select2({
        dropdownParent: $("#addNewDeviceModal"),
        theme: "bootstrap",
        placeholder: 'Select customer',
        allowClear: true
    });

    $('#manufacturerSelect').select2({
        dropdownParent: $("#addNewDeviceModal"),
        theme: "bootstrap",
        placeholder: 'Select manufacturer',
        allowClear: true
    }).click(getManufacturers());

    $('#modelSelect').select2({
        dropdownParent: $("#addNewDeviceModal"),
        theme: "bootstrap",
        placeholder: 'Select model',
        allowClear: true
    });

    function updateModels(manufacturerId){
        $('#modelSelect').empty();
        $.ajax({
            url: "http://localhost:8080/api/manufacturers/"+manufacturerId,
            type: "GET",
            success: function (result) {
                console.log(result);
                const modelsLength = result.models.length;
                for (let i=0; i<modelsLength; i++){
                    $('#modelSelect').append(
                        $('<option>',{
                            value: result.models[i].id,
                            text: result.models[i].name
                        })
                    );
                }
            },
            error: function (error){
                console.log(error);
            }
        })
    }

    function getManufacturers(){
        // $('#manufacturerSelect').empty();
        $.ajax({
            url: "http://localhost:8080/api/manufacturers",
            type: "GET",
            success: function (result) {
                console.log(result);
                const manufacturersLength = result.length;
                for (let i=0; i<manufacturersLength; i++){
                    $('#manufacturerSelect').append(
                        $('<option>',{
                            value: result[i].id,
                            text: result[i].name
                        })
                    );
                }
            },
            error: function (error){
                console.log(error);
            }
        })
    }

    function setDeleteDeviceModal(id){
        $.ajax({
           url: "http://localhost:8080/api/devices/"+id,
           type: "GET",
            success: function (result){
               console.log(result);
               document.getElementById('deleteDeviceId').value = id;
               document.getElementById('h3DeleteDeviceModal').innerHTML = result.model.manufacturer.name+' '+result.model.name+'<br>S/N: '+result.serialNumber+'?';
            },
            error: function (error){
                console.log(error);
            }
        });
    }
</script>
</body>

</html>