<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="pages/fragments/header.html"></th:block>
</head>

<body>
<!-- Sidenav -->
<th:block th:include="pages/fragments/sidenav.html"></th:block>

<!-- Main content -->
<div class="main-content" id="panel">

    <!-- Topnav -->
    <th:block th:include="pages/fragments/topnav.html"></th:block>

    <!-- Page content -->

    <div class="container-fluid mt--6">
        <div class="card">
            <div class="card-header bg-transparent">
                <div class="row">
                    <div class="col">
                        <h3>Devices</h3>
                    </div>
                    <div class="col text-right">
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addNewDeviceModal">Add
                            device
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="container-fluid">
                        <table class="table align-items-center" id="devicesTable">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Model</th>
                                <th scope="col">Serial number</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Address</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="device:${devices}">
                                <td th:text="${device.model.manufacturer}+' '+${device.model.name}"></td>
                                <td th:text="${device.serialNumber}"></td>
                                <td th:text="${device.customer.companyName}"></td>
                                <td th:text="${device.address.getStreet()}+' '+${device.address.houseNumber}+'/'+${device.address.apartmentNumber}+', '+${device.address.postCode}+' '+${device.address.city}"></td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="editUserModal+${user.id}"
                                               data-toggle="modal"
                                               data-target="'#editUserModal'+${user.id}">Edit</a>
                                            <a class="dropdown-item" href="deleteModal+${user.id}"
                                               data-toggle="modal"
                                               data-target="'#deleteModal'+${user.id}">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Add new device modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-default"
     aria-hidden="true" id="addNewDeviceModal">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Add new device</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form action="/devices" method="post" autocomplete="off">
                <div class="modal-body text-sm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="manufacturerSelect">Manufacturer:</label>
                                <select class="form-control form-control-sm"
                                        id="manufacturerSelect">
                                    <option value=""></option>
                                    <option th:each="manufacturer:${manufacturers}" th:text="${manufacturer.name}" th:value="${manufacturer.id}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="modelSelect">Model:</label>
                                <select class="form-control form-control-sm" id="modelSelect"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Serial number:</label>
                        <input type="text" class="form-control form-control-sm" name="serialNumber"></input>
                    </div>
                    <div class="form-group">
                        <label>Customer:</label>
                        <select class="form-control form-control-sm" id="selectCustomer" name="customer">
                            <option value=""></option>
                            <option th:each="customer:${cumstomers}" th:text="${customer.companyName}" th:value="${customer.id}"></option>
                        </select>
                    </div>
                    <div class="form-group text-center text-lg">
                        <p>Installation address</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Street:</label>
                            <input type="text" class="form-control form-control-sm" name="address.street">
                        </div>
                        <div class="col-md-3">
                            <label>Nr</label>
                            <input type="text" class="form-control form-control-sm" name="address.houseNumber">
                        </div>
                        <div class="col-md-3">
                            <label>Ap. nr</label>
                            <input type="text" class="form-control form-control-sm" name="address.apartmentNumber">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Post code:</label>
                            <input type="text" class="form-control form-control-sm" name="address.postCode">
                        </div>
                        <div class="col-md-8">
                            <label>City:</label>
                            <input type="text" class="form-control form-control-sm" name="address.city">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Province:</label>
                        <input type="text" class="form-control form-control-sm" name="address.province">
                    </div>
                </div>
                <div class="modal-footer text-sm align-content-end">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-sm">Add device</button>
                </div>
                <input type="text" value="INSTALLATION_DEVICE" name="address.addressType" hidden>
            </form>
        </div>
    </div>
</div>
<!-- Argon Scripts -->
<th:block th:include="pages/fragments/scripts"></th:block>

<script>
    $(document).ready(function () {
        $("#devicesTable").DataTable();

    });

    $("#selectCustomer").select2({
        dropdownParent: $("#addNewDeviceModal"),
        theme: "bootstrap",
        placeholder: 'Select customer',
        allowClear: true
    });

    $('#manufacturerSelect').select2({
        dropdownParent: $("#addNewDeviceModal"),
        theme: "bootstrap",
        placeholder: 'Select manufacturer',
        allowClear: true
    });

    $('#modelSelect').select2({
        dropdownParent: $("#addNewDeviceModal"),
        theme: "bootstrap",
        placeholder: 'Select model',
        allowClear: true
    });
</script>
</body>

</html>