<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>

    <th:block th:include="pages/fragments/header.html"></th:block>
</head>
<body>
<!-- Sidenav -->
<th:block th:include="pages/fragments/sidenav.html"></th:block>

<!-- Main content -->
<div class="main-content" id="panel">

    <!-- Topnav -->
    <th:block th:include="pages/fragments/topnav.html"></th:block>

    <div class="container-fluid">
        <h1>Users: </h1>

        <div class="table-responsive">
            <div class="container-fluid">
                <table class="table align-items-center" id="usersTable">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Role</th>
                        <th scope="col">Customer</th>
                        <th class="text-right" scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user:${users}">
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.role}"></td>
                        <td></td>
                        <td class="text-right">
                            <div class="dropdown">
                                <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <a class="dropdown-item" href="#">Edit</a>
                                    <a class="dropdown-item" th:href="passwordResetModal+${user.id}" data-toggle="modal"
                                       th:data-target="'#passwordResetModal'+${user.id}">Reset password</a>
                                    <a class="dropdown-item" th:href="deleteModal+${user.id}" data-toggle="modal"
                                       th:data-target="'#deleteModal'+${user.id}">Delete</a>
                                </div>
                            </div>
                        </td>
                        <!-- Reset password modal -->
                        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"
                             th:id="passwordResetModal+${user.id}">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2>Password reset</h2>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form method="post" action="/users/password_reset">
                                        <div class="modal-body">
                                            <input type="text" th:value="${user.id}" name="id" hidden="true">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="passwordResetInput">Password: </label>
                                                        <input type="password" class="form-control form-control-alternative" id="passwordResetInput"
                                                               name="password" autocomplete="new-password" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="confirmPasswordResetInput">Confirm password: </label>
                                                        <input type="password" class="form-control form-control-alternative"
                                                               id="confirmPasswordResetInput" name="confirmPassword" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Cancel
                                            </button>
                                            <button type="submit" class="btn btn-danger">Reset password</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Delete modal -->
                        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"
                             th:id="deleteModal+${user.id}">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2>Confirmation</h2>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form method="get" action="/users/delete">
                                        <div class="modal-body">
                                            <p>Are you sure you want delete user: </p>
                                            <h3 th:text="${user.firstName}+' '+${user.lastName}+' ?'"></h3>
                                            <p>This action cannot be undone and you will be unable to recover any
                                                data.</p>
                                            <input type="text" th:value="${user.id}" name="id" hidden="true">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Cancel
                                            </button>
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNewUserModal">
            Add new user
        </button>
    </div>
</div>
<!-- Modal for new user -->
<div class="modal fade" id="addNewUserModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content p-4 bg-secondary">
            <form method="post" action="/users" autocomplete="off">
                <div class="modal-header">
                    <h2>Add new user: </h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="usernameInput">E-mail: </label>
                        <input type="email" class="form-control form-control-alternative" id="usernameInput"
                               name="username"
                               placeholder="example@example.com" required>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firstNameInput">First name: </label>
                                <input type="text" class="form-control form-control-alternative" id="firstNameInput"
                                       name="firstName" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastNameInput">Last name: </label>
                                <input type="text" class="form-control form-control-alternative" id="lastNameInput"
                                       name="lastName" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="selectRole">User type: </label>
                        <select class="form-control" id="selectRole" name="role" required>
                            <option class="list-group-item" value="ROLE_USER">User</option>
                            <option class="list-group-item" value="ROLE_ADMIN">Administrator</option>
                        </select>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="passwordInput">Password: </label>
                                <input type="password" class="form-control form-control-alternative" id="passwordInput"
                                       name="password" autocomplete="new-password" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="confirmPasswordInput">Confirm password: </label>
                                <input type="password" class="form-control form-control-alternative"
                                       id="confirmPasswordInput" name="confirmPassword" required>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" id="saveChangesButton">Add user</button>
                </div>
            </form>
        </div>
    </div>
</div>

<th:block th:include="pages/fragments/scripts.html"></th:block>
<script>
    $(document).ready(function () {
        $('#usersTable').DataTable();
    });

</script>
</body>
</html>