<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>

    <th:block th:include="pages/fragments/header.html"></th:block>
</head>
<body>
<!-- Sidenav -->
<th:block th:include="pages/fragments/sidenav.html"></th:block>

<!-- Main content -->
<div class="main-content" id="panel">

    <!-- Topnav -->
    <th:block th:include="pages/fragments/topnav.html"></th:block>

    <div class="container-fluid mt--6">
        <div class="card">
            <div class="card-header bg-transparent">
                <div class="row">
                    <div class="col">
                        <h3>Users</h3>
                    </div>
                    <div class="col text-right">
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                data-target="#addNewUserModal">
                            Add new user
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="container-fluid">
                        <table class="table align-items-center" id="usersTable">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">First name</th>
                                <th scope="col">Last name</th>
                                <th scope="col">E-mail</th>
                                <th scope="col">Role</th>
                                <th scope="col">Customer</th>
                                <th class="text-right" scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user:${users}">
                                <td th:text="${user.firstName}"></td>
                                <td th:text="${user.lastName}"></td>
                                <td th:text="${user.username}"></td>
                                <td th:text="${user.role}"></td>
                                <td></td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" th:href="editUserModal+${user.id}"
                                               data-toggle="modal"
                                               th:data-target="'#editUserModal'+${user.id}">Edit</a>
                                            <a class="dropdown-item" href="passwordResetModal" data-toggle="modal"
                                               data-target="#passwordResetModal"
                                               th:onclick="'setId('+${user.id}+')'">Reset password</a>
                                            <a class="dropdown-item" th:href="deleteModal+${user.id}"
                                               data-toggle="modal"
                                               th:data-target="'#deleteModal'+${user.id}">Delete</a>
                                        </div>
                                    </div>
                                </td>
                                <!-- Edit modal -->
                                <div class="modal fade" th:id="editUserModal+${user.id}" tabindex="-1" role="dialog"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                                        <div class="modal-content">
                                            <form method="post" action="/users/update" autocomplete="off">
                                                <div class="modal-header">
                                                    <h2>Edit user: </h2>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body text-sm">
                                                    <input type="text" th:value="${user.id}" name="id" hidden="true">
                                                    <div class="form-group">
                                                        <label for="usernameEditInput">E-mail: </label>
                                                        <input type="email"
                                                               class="form-control form-control-sm"
                                                               id="usernameEditInput"
                                                               name="username"
                                                               th:value="${user.username}" required>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="firstNameEditInput">First name: </label>
                                                                <input type="text"
                                                                       class="form-control form-control-sm"
                                                                       id="firstNameEditInput"
                                                                       name="firstName"
                                                                       th:value="${user.firstName}" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="lastNameEditInput">Last name: </label>
                                                                <input type="text"
                                                                       class="form-control form-control-sm"
                                                                       id="lastNameEditInput"
                                                                       name="lastName"
                                                                       th:value="${user.lastName}" required>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="selectRoleEdit">User type: </label>
                                                        <select class="form-control form-control-sm" id="selectRoleEdit"
                                                                name="role" required>
                                                            <option class="list-group-item" value="ROLE_USER">User
                                                            </option>
                                                            <option class="list-group-item" value="ROLE_ADMIN">
                                                                Administrator
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default btn-sm"
                                                            data-dismiss="modal">
                                                        Cancel
                                                    </button>
                                                    <button type="submit" class="btn btn-primary btn-sm">Save changes
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- Delete modal -->
                                <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"
                                     th:id="deleteModal+${user.id}">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h2>Confirmation</h2>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form method="post" action="/users/delete">
                                                <div class="modal-body text-sm">
                                                    <p>Are you sure you want delete user: </p>
                                                    <h3 th:text="${user.firstName}+' '+${user.lastName}+' ?'"></h3>
                                                    <p>This action cannot be undone and you will be unable to recover
                                                        any
                                                        data.</p>
                                                    <input type="text" th:value="${user.id}" name="id" hidden="true">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default btn-sm"
                                                            data-dismiss="modal">
                                                        Cancel
                                                    </button>
                                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- New user modal -->
    <div class="modal fade" id="addNewUserModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
            <div class="modal-content">
                <form method="post" action="/users" autocomplete="off">
                    <div class="modal-header">
                        <h2>Add new user: </h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-sm">
                        <div class="form-group">
                            <label for="usernameInput">E-mail: </label>
                            <input type="email" class="form-control form-control-sm"
                                   id="usernameInput"
                                   name="username"
                                   placeholder="example@example.com" required>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="firstNameInput">First name: </label>
                                    <input type="text" class="form-control form-control-sm"
                                           id="firstNameInput"
                                           name="firstName" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="lastNameInput">Last name: </label>
                                    <input type="text" class="form-control form-control-sm"
                                           id="lastNameInput"
                                           name="lastName" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="selectRole">User type: </label>
                            <select class="form-control form-control-sm" id="selectRole" name="role" required>
                                <option class="list-group-item" value="ROLE_USER">User</option>
                                <option class="list-group-item" value="ROLE_ADMIN">Administrator</option>
                            </select>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group is-invalid">
                                    <label for="passwordInput">Password: </label>
                                    <input type="password" class="form-control form-control-sm"
                                           id="passwordInput"
                                           name="password" autocomplete="new-password" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group is-invalid">
                                    <label for="confirmPasswordInput">Confirm password: </label>
                                    <input type="password" class="form-control form-control-sm"
                                           id="confirmPasswordInput"
                                           name="confirmPassword" required>
                                </div>
                            </div>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="form-control col-sm-4">Info:</span>
                            <span class="form-control col-sm-8" id="messagePasswordControl"></span>
                        </div>
                    </div>
                    <hr>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary btn-sm" id="addNewUserButton" disabled>Add user
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Reset password modal -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="passwordResetModal">
        <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Password reset</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="/users/password_reset">
                    <div class="modal-body text-sm">
                        <input type="text" name="id" id="userIdResetPasswordInput" hidden="true">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="passwordResetInput">Password: </label>
                                    <input type="password"
                                           class="form-control form-control-sm"
                                           id="passwordResetInput"
                                           name="password" autocomplete="new-password" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="confirmPasswordResetInput">Confirm
                                        password: </label>
                                    <input type="password"
                                           class="form-control form-control-sm"
                                           id="confirmPasswordResetInput" name="confirmPassword"
                                           required>
                                </div>
                            </div>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="form-control col-sm-4">Info:</span>
                            <span class="form-control col-sm-8" id="messagePasswordResetControl"></span>
                        </div>
                    </div>
                    <hr>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-danger btn-sm" id="changePasswordButton" disabled>Change password
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    <th:block th:include="pages/fragments/scripts.html"></th:block>
    <script>
        $(document).ready(function () {
            $('#usersTable').DataTable({
                language: {
                    paginate: {
                        previous: '<',
                        next: '>'
                    }
                },
                aria: {
                    paginate: {
                        previous: 'Previous',
                        next: 'Next'
                    }
                }
            });
            // $('#messagePasswordControl').html('Fields cannot be empty').css('color', 'red');
            // $('#messagePasswordResetControl').html('password doesn\'t match!').css('color', 'red');
        });

        function setId(id) {
            document.getElementById("userIdResetPasswordInput").value = id;
        }

        $('#passwordResetInput, #confirmPasswordResetInput').on('keyup', function () {
            if ($('#passwordResetInput').val() !== $('#confirmPasswordResetInput').val() ||
                $('#passwordResetInput').val().length === 0 ||
                $('#confirmPasswordResetInput').val().length === 0) {
                document.getElementById("changePasswordButton").disabled = true;
                $('#messagePasswordResetControl').html('password doesn\'t match!').css('color', 'red');
            } else {
                document.getElementById("changePasswordButton").disabled = false;
                $('#messagePasswordResetControl').html('password matches!').css('color', 'green');
            }
        })

        function areFieldsEmpty() {
            if ($('#usernameInput').val().length === 0 ||
                $('#firstNameInput').val().length === 0 ||
                $('#lastNameInput').val().length === 0 ||
                $('#passwordInput').val().length === 0 ||
                $('#confirmPasswordInput').val().length === 0) {
                $('#messagePasswordControl').html('Fields cannot be empty').css('color', 'red');
                return true;
            } else {
                return false;
            }
        }

        function isPasswordMatch() {
            if (areFieldsEmpty()) {
                return false;
            } else if ($('#passwordInput').val() !== $('#confirmPasswordInput').val()) {
                $('#messagePasswordControl').html('password doesn\'t match!').css('color', 'red');
                return false;
            } else {
                $('#messagePasswordControl').html('password matches!').css('color', 'green');
                return true;
            }
        }

        $('#usernameInput, #firstNameInput, #lastNameInput, #passwordInput, #confirmPasswordInput').on('keyup', function () {
            if (isPasswordMatch()) {
                document.getElementById("addNewUserButton").disabled = false;
            } else {
                document.getElementById("addNewUserButton").disabled = true;
            }
        });
    </script>
</body>
</html>