<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main/addModel</title>
</head>
<body>
<form method="get" action="/main/models/save">
    <label>Model name:</label>
    <input type="text" name="name"> <br>
    <label>Prints in Color?</label>
    <input type="checkbox" name="printsInColor"> <br>
    <label>Production year:</label>
    <input type="number" name="productionYear"> <br>
    <label>Printing speed:</label>
    <input type="number" name="printingSpeed"> <br>
    <label>Manufacturer name:</label>
    <input type="text" name="manufacturerName"> <br>
    <label>Printing format:</label>
    <select name="printingFormat"> <br>
        <option value="A4">A4</option>
        <option value="A3">A3</option>
    </select>
    <button type="submit">Submit</button>
</form>
</body>
</html>