<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main/models</title>
</head>
<body>
        <a th:text="${article.getId()}">Article</a>
        <a th:text="${article.getCatalogueNumber()}">Catalog Number</a>
        <a th:text="${article.getName()}">Name</a>
        <a th:text="${article.getManufacturer().getName()}">Manufacturer Name</a>
        <a th:text="${article.getAlternative()}">Alternative</a>
        <a th:text="${article.getConsumable()}">Consumable</a>
        <a th:text="${article.getPurchasePrice()}">Purchase Price</a>
        <a th:text="${article.getSalePrice()}">Sale Price</a>
        <a th:text="${article.getYield()}">Yield</a>




</body>
</html>