<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main/customer</title>
</head>
<body>
        <a th:text="${(customer.id)}">id</a><br>
        <a th:text="${(customer.address)}">address</a><br>
        <a th:text="${(customer.nip)}">nip</a><br>
        <a th:text="${(customer.regon)}">regon</a><br>
        <a th:text="${(customer.companyName)}">companyName</a><br>
        <a th:text="${(customer.telephoneNumber)}">telephoneNumber</a><br>
        <a th:text="${(customer.email)}">email</a><br>
        <a th:text="${(customer.companySiteUrl)}">companySiteUrl</a><br>


</body>
</html>