<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en" >-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--<form th:action="@{/login}" th:object="${login}" method="post">-->
<!--    <p>username: <input type="text" th:field="${login.username}"></p>-->
<!--    <p>password: <input type="text" th:field="${login.password}"></p>-->
<!--    <button type="submit">login</button>-->



<!--</form>-->


<!--</body>-->
<!--</html>-->